<div class="row" *ngIf="item">
    <div class="col-sm-12">
        <editor [(object)]="item" property="WorkRequestType" (valueChange)="typeChange()"></editor>
    </div>    
    <div class="col-sm-4">
        <h4>Appointment</h4>
    </div>
    <div class="col-sm-8">
        <h4 *ngIf="item.WorkRequestType != Type.Remove">Meter</h4>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="AppointmentDateTime"></editor>
    </div>    
    <div class="col-sm-4" *ngIf="item.WorkRequestType != Type.Remove">
        <editor [(object)]="item" property="MeterTypeCode"></editor>
    </div>
    <div class="col-sm-4" *ngIf="item.WorkRequestType != Type.Remove">
        <editor [(object)]="item" property="MeterMechanismCode"></editor>
    </div>
    <div class="col-sm-12" *ngIf="item.WorkRequestType != Type.Remove">
        <h4>Asset</h4>
    </div>
    <div class="col-sm-4" *ngIf="item.WorkRequestType != Type.Remove">
        <editor [(object)]="item" property="PaymentMethodCode"></editor>
    </div>
    <div class="col-sm-4" *ngIf="item.WorkRequestType != Type.Remove">
        <editor [(object)]="item" property="ModelCode"></editor>
    </div>
    <div class="col-sm-4" *ngIf="item.WorkRequestType != Type.Remove">
        <editor [(object)]="item" property="ManufacturerCode"></editor>
    </div>
    <div class="col-sm-4" *ngIf="item.WorkRequestType != Type.Remove">
        <editor [(object)]="item" property="AssetClassCode"></editor>
    </div>
    <div class="col-sm-4" *ngIf="item.WorkRequestType != Type.Remove">
        <editor [(object)]="item" property="LocationCode"></editor>
    </div>    
    <div class="col-sm-4" *ngIf="item.WorkRequestType != Type.Remove">
        <editor [(object)]="item" property="AssetLocationNotes"></editor>
    </div>
    <div class="col-sm-12 error" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
</div>