<div class="kt-portlet kt-portlet-edit-form">
    <edit-header *ngIf="breadcrumbs && actions && actions.length > 0" [breadcrumbs]="breadcrumbs" [actions]="actions" [moreActions]="moreActions" [processing]="processing"></edit-header>
    <div class="kt-portlet__body card ">
        <div class="card-content">
            <div class="card-body">
                <div class="row" *ngIf="item && !loading">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <editor [(object)]="item" property="AgencyId" [decorator]="{readonly: true}"></editor>
                            </div>
                            <div class="col-sm-12">
                                <editor [(object)]="item" property="DocumentName" [decorator]="{readonly: viewer}"></editor>
                            </div>
                            <div class="col-sm-12">
                                <editor #uploadFile [(object)]="item" property="DocumentBase64" [decorator]="{readonly: viewer}"></editor>
                            </div>
                            <div class="col-sm-12">
                                <div *ngIf="item.FileName">
                                    <ul class="selected-item">
                                        <li *ngIf="item.FileName">Name: <span>{{item.FileName}}</span></li>
                                        <li *ngIf="item.FileSize">Size: <span>{{item.FileSize | numberx}}</span> bytes</li>
                                        <li *ngIf="item.FileType">Type: <span>{{item.FileType}}</span></li>
                                        <li *ngIf="item.FileLastModifiedAt">Date: <span>{{item.FileLastModifiedAt | datetimex }}</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button class="btn btn-success" (click)="download()"><i class="fa fa-download"></i> Download</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-loading" *ngIf="loading">
                    <loading></loading>
                </div>
            </div>
        </div>
    </div>
</div>