<div wrapper>
  <div class="treeWrapper">
    <div *ngIf="loading" style="min-height: 30vh;">
      <loading></loading>
    </div>
    <div id="tree-wrapper" *ngIf="!loading && item">
      <span class="label">{{ item.Type }}</span>
      <div class="branch" *ngIf="item.Childs">
        <hubfile-tree-child *ngFor="let child of item.Childs" [item]="child" [className]="!item.Childs || item.Childs.length == 1 ? 'sole' : ''"></hubfile-tree-child>
      </div>
    </div>
  </div>
  <div class="form-group" *ngIf="!loading">
    <h6 class="content-header-title">
      Raw Data
    </h6>
    <textarea [value]="data"></textarea>
  </div>
</div>