<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link" (click)="selectedTab('meterpoint')" [ngClass]="{'active':!tab || tab == 'meterpoint'}">Meter Point</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="selectedTab('supply')" [ngClass]="{'active':tab == 'supply'}">Supply Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="selectedTab('ldz')" [ngClass]="{'active':tab == 'ldz'}">LDZ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="selectedTab('charges')" [ngClass]="{'active':tab == 'charges'}">Charges</a>
    </li>
</ul>
<div class="tab-content px-1 pt-1">
    <div class="tab-pane" [ngClass]="{'active':!tab || tab == 'meterpoint'}">
        <div *ngIf="item" class="row" style="margin: 0">
            <div class="col-sm-6">
                <editor [(object)]="item" property="Mpr" [decorator]="{readonly: true, label: 'MPRN'}"></editor>
                <editor [(object)]="item" property="Status" [decorator]="{readonly: true, label: 'MPRN Status'}"></editor>
                <editor [(object)]="item" property="MprnStatusCode" [decorator]="{readonly: true, label: 'MPRN Status Code'}"></editor>
                <editor [(object)]="item" property="MprnStatusChangeDate" [decorator]="{readonly: true, label: 'MPRN Status Change Code'}"></editor>
                <editor [(object)]="item" property="SupplyStartDate" [decorator]="{readonly: true}"></editor>
                <editor [(object)]="item" property="SupplyEndDate" [decorator]="{readonly: true}"></editor>
                <editor [(object)]="item" property="RollingAq" [decorator]="{readonly: true, label: 'Rolling AQ'}"></editor>
                <editor [(object)]="item" property="AlternativeAq" [decorator]="{readonly: true, label: 'Alternative AQ'}"></editor>
                <editor [(object)]="item" property="UseAlternativeAq" [decorator]="{readonly: true}"></editor>
            </div>
            <div class="col-sm-6">
                <editor [(object)]="item" property="FormulaYearSmpaq" [decorator]="{readonly: true, label: 'Formula Year AQ'}"></editor>
                <editor [(object)]="item" property="SupplyMeterPointClass" [decorator]="{readonly: true}"></editor>
                <editor [(object)]="item" property="Category" [decorator]="{readonly: true, label: 'Supply Point Category'}"></editor>
                <editor [(object)]="item" property="MarketSectorCode" [decorator]="{readonly: true}"></editor>
                <editor [(object)]="item" property="CorrectionFactor" [decorator]="{readonly: true}"></editor>
                <editor [(object)]="item" property="DniIndicator" [decorator]="{readonly: true, label: 'DNI Indicator'}"></editor>
                <editor [(object)]="item" property="SeasonalLspIndicator" [decorator]="{readonly: true, label: 'Seasonal LSP Indicator'}"></editor>
                <editor [(object)]="item" property="MeterReadBatchFrequency" [decorator]="{readonly: true, label: 'Meter Read Batch Feq'}"></editor>
            </div>
        </div>
        <div class="row row-loading" *ngIf="loading">
            <loading></loading>
        </div>
    </div>
    <div class="tab-pane" [ngClass]="{'active':tab == 'supply'}">
        <div *ngIf="item" class="row" style="margin: 0">
            <div class="col-sm-6">
                <editor [(object)]="item" property="RegistrationStatus" [decorator]="{readonly: true}"></editor>
                <editor [(object)]="item" property="NominationShipperReference" [decorator]="{readonly: true, label: 'Nom Shipper Ref'}"></editor>
            </div>
            <div class="col-sm-6">
                <editor [(object)]="item" property="PreviousSupplier" [decorator]="{readonly: true, label: 'Previous Supplier Name'}"></editor>
                <editor [(object)]="item" property="PreviousSupplierShortCode" [decorator]="{readonly: true, label: 'Previous Supplier Code'}"></editor>
                <editor [(object)]="item" property="EndUserCategory" [decorator]="{readonly: true}"></editor>
            </div>
        </div>
    </div>
    <div class="tab-pane" [ngClass]="{'active':tab == 'ldz'}">
        <div *ngIf="item" class="row" style="margin: 0">
            <div class="col-sm-6">
                <editor [(object)]="item" property="LdzIdentifier" [decorator]="{readonly: true, label: 'LDZ Identifier'}"></editor>
            </div>
            <div class="col-sm-6">
                <editor [(object)]="item" property="ExitZoneIdentifier" [decorator]="{readonly: true}"></editor>
            </div>
        </div>
    </div>
    <div class="tab-pane" [ngClass]="{'active':tab == 'charges'}">
        <div *ngIf="item" class="row" style="margin: 0">
            <div class="col-sm-6">
                <editor [(object)]="item" property="ExitCapacityLdzEcnChargeRate" [decorator]="{readonly: true, label: 'LDZ Exit Capacity Charge Rate'}"></editor>
                <editor [(object)]="item" property="LdzCustomerChargeRate" [decorator]="{readonly: true, label: 'LDZ Customer Charge Rate'}"></editor>
                <editor [(object)]="item" property="LdzCapacityChargeRate" [decorator]="{readonly: true, label: 'LDZ Capacity Charge Rate'}"></editor>
            </div>
            <div class="col-sm-6">
                <editor [(object)]="item" property="LdzCommodityChargeRate" [decorator]="{readonly: true, label: 'LDZ Commodity Charge Rate'}"></editor>
                <editor [(object)]="item" property="NtsExitCommodityChargeRate" [decorator]="{readonly: true, label: 'NTS Exit Commodity Charge Rate'}"></editor>
            </div>
        </div>
    </div>
</div>