<div class="row" *ngIf="item">
    <div class="col-sm-6">
        <editor [(object)]="item" property="RequestReason"></editor>
    </div>
    <div class="col-sm-6" *ngIf="item.RequestReason && item.RequestReason <= 4">
        <editor [(object)]="item" property="RequestedEstimated" [decorator]="{ required: true }"></editor>
    </div>
    <div class="col-sm-6" *ngIf="!item.RequestReason || item.RequestReason > 4">
        <editor [(object)]="item" property="RequestedEstimated" [decorator]="{ required: false }"></editor>
    </div>    
    <div class="col-sm-6" *ngIf="siteId">
        <editor [(object)]="item" property="MeterRead" (valueChange)="meterReadChange()" [decorator]="{ lookup: { url: '/meterRead/Lookup/' + siteId } }"></editor>
    </div>  
    <div class="col-sm-6" *ngIf="item.RequestReason == 5">
        <editor [(object)]="item" property="RequestedWc" [decorator]="{ required: true }"></editor>
    </div>
    <div class="col-sm-6" *ngIf="item.RequestReason != 5">
        <editor [(object)]="item" property="RequestedWc" [decorator]="{ required: false }"></editor>
    </div>
    <div class="col-sm-6" *ngIf="item.RequestReason == 4">
        <editor [(object)]="item" property="MeterSerialNumber" [decorator]="{ required: true }"></editor>
    </div>
    <div class="col-sm-6" *ngIf="item.RequestReason != 4">
        <editor [(object)]="item" property="MeterSerialNumber" [decorator]="{ required: false }"></editor>
    </div>
    <div class="col-sm-6" *ngIf="item.RequestReason == 4">
        <editor [(object)]="item" property="MeterReadingDate" [decorator]="{ required: true }"></editor>
    </div>
    <div class="col-sm-6" *ngIf="item.RequestReason != 4">
        <editor [(object)]="item" property="MeterReadingDate" [decorator]="{ required: false }"></editor>
    </div>
    <div class="col-sm-6" *ngIf="item.RequestReason == 4">
        <editor [(object)]="item" property="MeterReading" [decorator]="{ required: true }"></editor>
    </div>
    <div class="col-sm-6" *ngIf="item.RequestReason != 4">
        <editor [(object)]="item" property="MeterReading" [decorator]="{ required: false }"></editor>
    </div>
    <div class="col-sm-6" *ngIf="item.RequestReason == 2">
        <editor [(object)]="item" property="SupportingInformation" [decorator]="{ required: true }"></editor>
    </div>
    <div class="col-sm-6" *ngIf="item.RequestReason != 2">
        <editor [(object)]="item" property="SupportingInformation" [decorator]="{ required: false }"></editor>
    </div>
    <div class="col-sm-12 error" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
</div>