<div class="card-content">
    <div class="card-body pt-0">
        <form class="form-horizontal">
            <fieldset class="form-group floating-label-form-group">
                <label for="user-name">Username</label>
                <editor [(object)]="item" property="UserName" [decorator]="{ label : '', readonly: true}"></editor>
            </fieldset>
            <fieldset class="form-group floating-label-form-group mb-1">
                <label for="user-password">Password</label>
                <editor [(object)]="item" property="Password" [decorator]="{ label : ''}"></editor>
            </fieldset>
            <div class="form-group">
                Not {{ item.UserName }} <a class="kt-link kt-login__link-forgot" (click)="signOut()"> SignOut</a>
            </div>
            <div class="form-group">
                <editor-button label="Sign In" className="btn btn-outline-primary btn-block" [(process)]="processing" (click)="signin()"></editor-button>
            </div>
        </form>
    </div>
</div>