.card-content {
    overflow: auto;
    margin-top: 20px;
    height: calc(100vh - 150px);
    .svg.appear {
        display: flex;
        height: 1660px;
        align-items: center;
        opacity: 1 !important;
        justify-content: center;
        svg {
            max-width: 1500px;
        }
    }
    .svg-loading {
        top: 0;
        left: 0;
        width: 100%;
        height: 80vh;
        position: absolute;
    }
}

::ng-deep .siteWrapper {
    .tab-content {
        padding-top: 0 !important;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        .tab-pane.active {
            .card-body {
                padding: 0;
            }
        }
        .border-top {
            border-top: 1px solid #ddd !important;
        }
        .border-left {
            border-left: 1px solid #ddd !important;
        }
        .border-right {
            border-right: 1px solid #ddd !important;
        }
    }
}

::ng-deep .row-meterpoint {
    margin: 0;
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    .la {
        display: none !important;
    }
    .kt-maxlength {
        display: none !important;
    }
    .form-group {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        label {
            margin: 0;
            padding: 0;
            font-weight: bold;
            margin-right: 10px;
            white-space: nowrap;
        }
        .form-control {
            margin: 0 !important;
            padding: 0 !important;
            border: none !important;
            background-color: transparent !important;
            &.disabled {
                background-color: transparent !important;
            }
            &::placeholder {
                opacity: 0;
            }
        }
    }
}
