#wrapper {
    overflow: auto;
    margin-top: 20px;
    .svg.appear {
        display: flex;
        height: 1660px;
        align-items: center;
        opacity: 1 !important;
        justify-content: center;
        svg {
            max-width: 1500px;
        }
    }
    .rectangle {
        * {
            cursor: pointer;
        }
        &.white {
            .st4 {
                fill: white;
            }
        }
        &.green {
            .st4 {
                fill: green;
            }
            .st5 {
                fill: white;
            }
            .stred {
                fill: white;
            }
        }
    }
}
