<div class="kt-portlet kt-portlet-edit-form hubFileWrapper">
    <edit-header *ngIf="breadcrumbs && actions && actions.length > 0" [breadcrumbs]="breadcrumbs" [actions]="actions" [moreActions]="moreActions" [processing]="processing"></edit-header>
    <div class="kt-portlet__body card ">
        <div class="card-content">
            <div class="card-body">
                <input #inputFile style="opacity: 0; height: 0;" type="file" (change)="onFileChange()" multiple="single" accept=".xlsx, .xls, .csv" />
                <div class="row">
                    <div class="col-sm-12" *ngIf="!loading && contacts && contacts.length > 0">
                        <list-contact [params]="{ items: contacts, properties: properties }" (checkedChange)="checkedChange($event)"></list-contact>
                    </div>
                    <div class="col-sm-12" style="margin-bottom: 30px;" *ngIf="!loading && (!contacts || contacts.length == 0)">
                        No contacts, please try again
                    </div>
                    <div class="col-sm-12">
                        <div class="wrapper">
                            <div class="row">
                                <div class="col-sm-4">
                                    <editor [(object)]="item" property="EmailTemplateId" (valueChange)="emailTemplateChange()"></editor>
                                </div>
                                <div class="col-sm-4">
                                    <editor [(object)]="item" property="SmtpAccountId"></editor>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <editor [(object)]="item" property="Emails"></editor>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <editor [(object)]="item" property="Subject"></editor>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <editor [(object)]="item" property="Content"></editor>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <editor #uploadFile [(object)]="item" property="Attachments"></editor>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>