<div
    class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile kt-login__fluid">
    <div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside"
        style="background-image: url(assets/media/bg/bg-4.jpg);">
        <div class="kt-grid__item">
            <a class="kt-login__logo">
                <img src="../../../assets/media/logos/logo-light.png">
            </a>
        </div>
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
            <div class="kt-grid__item kt-grid__item--middle">
                <h3 class="kt-login__title">Wellcome to National Admin!</h3>
                <h4 class="kt-login__subtitle">National Admin - Data management system</h4>
                <ul class="kt-login__subtitle">
                    <li>CCL</li>
                </ul>
            </div>
        </div>
        <div class="kt-grid__item kt-grid--ver">
            <div class="kt-login__info">
                <div class="kt-login__copyright">
                    2021&nbsp;&copy;&nbsp;National Admin
                </div>
                <div class="kt-login__menu">
                    <a class="kt-link" (click)="tutorial()">Tutorial</a>
                    <a class="kt-link" (click)="contact()">Contact</a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">


        <!--begin::Head-->
        <div class="kt-login__head">
            <span class="kt-login__signup-label">You don't have account?</span>&nbsp;&nbsp;
            <a class="kt-link kt-login__signup-link" (click)="signUp()">Sign Up!</a>
        </div>

        <!--end::Head-->

        <!--begin::Body-->
        <div class="kt-login__body">

            <!--begin::Signin-->
            <div class="kt-login__form">
                <loading *ngIf="loading"></loading>
                <div class="kt-login__title">
                    <h3>Reset Password</h3>
                </div>

                <!--begin::Form-->
                <form class="kt-form" action="" novalidate="novalidate" id="kt_login_form">
                    <div class="form-group">
                        <editor [(object)]="item" property="Password" [decorator]="{ label : '', placeholder: 'New Password' }"></editor>
                    </div>
                    <div class="form-group">
                        <editor [(object)]="item" property="ConfirmPassword" [decorator]="{ label : '', placeholder: 'Confirm Password' }"></editor>
                    </div>

                    <!--begin::Action-->
                    <div class="kt-login__actions">
                        <editor-button label="Update" [(process)]="processing" (click)="verify()"></editor-button>
                    </div>

                    <!--end::Action-->
                </form>
            </div>

            <!--end::Signin-->
        </div>

        <!--end::Body-->
    </div>
</div>