::ng-deep .modal {
    display: block;
    pointer-events: none;
    &.show {
        pointer-events: all;
        transition: all 0.5s;
        background-color: rgba(0, 0, 0, 0.5);
        .modal-content {
            pointer-events: auto;
        }
    }
    &.show-above {
        pointer-events: all;
        transition: none !important;
        background-color: rgba(0, 0, 0, 0.5);
        .modal-content {
            pointer-events: auto;
        }
    }
    &.modal-confirm {
        z-index: 1051;
    }
    .btn {
        min-width: 100px;
        &.btn-icon,
        &.bootstrap-touchspin-up,
        &.bootstrap-touchspin-down {
            min-width: unset;
        }
    }
    .modal-body {
        overflow: auto;
        max-height: 86vh;
        overflow-x: hidden;
        .kt-portlet {
            box-shadow: none !important;
            .kt-portlet__head {
                margin: 0;
                padding: 0;
            }
            .kt-portlet__body {
                box-shadow: none !important;
                &.card {
                    margin: 0;
                    padding: 0 !important;
                    .card-body {
                        padding: 0 !important;
                    }
                }
            }
        }
        .kt-portlet--tabs > .kt-portlet__head {
            padding: 0 25px;
        }
        .kt-portlet-edit-form > .kt-portlet__body {
            height: unset;
            overflow: visible;
        }
    }
    .modal-dialog {
        margin: 0 auto;
    }
}

.modal-fs {
    max-width: 97%;
    .modal-body {
        overflow-y: auto;
        max-height: 86vh;
        overflow-x: hidden;
    }
}

.modal-header-timeout {
    display: flex;
    padding-top: 10px;
    align-items: center;
    padding-bottom: 10px;
    justify-content: space-between;
}
