<div class="kt-portlet kt-portlet-edit-form" *ngIf="!auth.account?.IsAdmin">
    <div class="kt-portlet__body card " style="height: auto !important;">
        <div class="card-content">
            <div class="card-body">
                <div class="edit-company" *ngIf="item && !loading">
                    <div class="accordion">
                        <div class="card-header" (click)="activeProfile = !activeProfile">
                            <div class="card-title" [ngClass]="{'collapsed':!activeProfile}">
                                <svg style="margin-right: 10px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                        <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                    </g>
                                </svg>
                                <span>Profile</span>
                            </div>
                        </div>
                        <div class="collapse" [ngClass]="{'show':activeProfile}">
                            <div class="row profile-details">
                                <div class="col-sm-4">
                                    <div class="box-item">
                                        <h4>Personal Details</h4>
                                        <div class="box-item-border">
                                            <editor [(object)]="item" property="Title" [viewer]="true"></editor>
                                            <editor [(object)]="item" property="FirstName" [viewer]="true"></editor>
                                            <editor [(object)]="item" property="LastName" [viewer]="true"></editor>
                                            <editor [(object)]="item" property="Mobile" [viewer]="true"></editor>
                                            <editor [(object)]="item" property="Phone" [viewer]="true"></editor>
                                            <editor [(object)]="item" property="Email" [viewer]="true"></editor>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="box-item">
                                        <h4>Company Details</h4>
                                        <div class="box-item-border">
                                            <editor [(object)]="item" property="CompanyName" [viewer]="true"></editor>
                                            <editor [(object)]="item" property="RegisterNumber" [viewer]="true"></editor>
                                            <editor [(object)]="item" property="CompanyAddress" [viewer]="true" [decorator]="{label: 'Address'}"></editor>
                                            <editor [(object)]="item" property="CompanyPhone" [viewer]="true"></editor>
                                            <editor [(object)]="item" property="CompanyEmail" [viewer]="true"></editor>
                                            <editor [(object)]="item" property="Website" [viewer]="true"></editor>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="box-item">
                                        <h5>PHO Details</h5>
                                        <div class="box-item-border">
                                            <editor [(object)]="item" property="PHOName" [viewer]="true"></editor>
                                            <editor [(object)]="item" property="PHOLicence" [viewer]="true"></editor>
                                            <editor [(object)]="item" property="PHOAddress" [viewer]="true"></editor>
                                            <editor [(object)]="item" property="PHOPostCode" [viewer]="true"></editor>
                                            <editor [(object)]="item" property="PHOPhone" [viewer]="true"></editor>
                                            <editor [(object)]="item" property="PHOEmail" [viewer]="true"></editor>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion accordion-grid">
                        <div class="card-header" (click)="activeLicence = !activeLicence">
                            <div class="card-title" [ngClass]="{'collapsed':!activeLicence}">
                                <svg style="margin-right: 10px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                        <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                    </g>
                                </svg>
                                <span>Dispatch System</span>
                            </div>
                        </div>
                        <div class="collapse" [ngClass]="{'show':activeLicence}">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="kt-portlet kt-portlet--tabs">
                                        <div class="kt-portlet__head">
                                            <div class="kt-portlet__head-toolbar">
                                                <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x">
                                                    <li class="nav-item">
                                                        <a class="nav-link" (click)="selectTabDispatch('dispatch')" [ngClass]="{'active':!tabDispatch || tabDispatch == 'dispatch'}">
                                                            <i class="la la-user"></i> Dispatch System
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" (click)="selectTabDispatch('invoice')" [ngClass]="{'active':tabDispatch == 'invoice'}">
                                                            <i class="la la-bolt"></i> Invoices
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="kt-portlet__body">
                                            <div class="tab-content">
                                                <div class="tab-pane" [ngClass]="{'active':!tabDispatch || tabDispatch == 'dispatch'}">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="box-item-border">
                                                                <h5>Details</h5>
                                                                <editor [(object)]="licence" property="Type" [viewer]="true" [decorator]="{label: 'Licence Type'}"></editor>
                                                                <editor [(object)]="licence" property="ExpiryDate" [viewer]="true"></editor>
                                                                <editor [(object)]="licence" property="MaximumDrivers" [viewer]="true"></editor>
                                                                <editor [(object)]="licence" property="Description" [viewer]="true"></editor>
                                                                <editor [(object)]="licence" property="WhitelistIPs" [viewer]="true"></editor>
                                                                <editor [(object)]="licence" property="DeviceId" [viewer]="true"></editor>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="box-item-border">
                                                                <h5>Keys</h5>
                                                                <div class="row">
                                                                    <div class="col-sm-12 key-flex">
                                                                        <editor [(object)]="licence" property="ClientKey" [viewer]="true" [decorator]="{label: 'Mobile Client Key'}"></editor>
                                                                        <button class="btn btn-warning" (click)="viewClientKey()">View</button>
                                                                        <button class="btn btn-success" (click)="copyClientKey()">Copy</button>
                                                                    </div>
                                                                    <div class="col-sm-12 key-flex">
                                                                        <editor [(object)]="licence" property="DesktopClientKey" [viewer]="true"></editor>
                                                                        <button class="btn btn-warning" (click)="viewDesktopClientKey()">View</button>
                                                                        <button class="btn btn-success" (click)="copyDesktopClientKey()">Copy</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" [ngClass]="{'active':tabDispatch == 'invoice'}">
                                                    <div class="row">
                                                        <div class="col-sm-12 grid-invoice">
                                                            <list-dispatch-invoice></list-dispatch-invoice>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="accordion">
                        <div class="card-header">
                            <div class="card-title" [ngClass]="{'collapsed':!activeExchange}">
                                <svg style="margin-right: 10px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                        <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                    </g>
                                </svg>
                                <span (click)="activeExchange = !activeExchange">Exchange</span>
                                <div class="card-title-absolute">
                                    <button class="btn btn-primary">View Details</button>
                                    <h5>Public Profile</h5>
                                    <div>
                                        <input type="checkbox" class="switch" [(ngModel)]="item.IsPublic" [disabled]="readonlyIsPublic">
                                        <div class="btn-group" tabindex="0" [ngClass]="{'disabled':readonlyIsPublic}">
                                            <button is="0" type="button" tabindex="-1" class="btn btn-default" [ngClass]="{'active btn-danger':!item.IsPublic}" (click)="toogleIsPublic(false)">No</button>
                                            <button is="1" type="button" tabindex="-1" class="btn btn-default" [ngClass]="{'active btn-success':item.IsPublic}" (click)="toogleIsPublic(true)">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse company-parters" [ngClass]="{'show':activeExchange}">
                            <div class="row" *ngIf="exchangeDto">
                                <div class="col-sm-6">
                                    <editor [(object)]="exchangeDto" property="Partners" [viewer]="true"></editor>
                                    <editor [(object)]="exchangeDto" property="PublishedJobs" [viewer]="true"></editor>
                                    <editor [(object)]="exchangeDto" property="AvaiableJobs" [viewer]="true"></editor>
                                </div>
                                <div class="col-sm-6">
                                    <editor [(object)]="exchangeDto" property="CompletedJobs" [viewer]="true"></editor>
                                    <editor [(object)]="exchangeDto" property="AcceptedJobs" [viewer]="true"></editor>
                                    <editor [(object)]="exchangeDto" property="PaymentPending" [viewer]="true"></editor>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion accordion-grid" *ngIf="priceDto">
                        <div class="card-header" (click)="activePrice = !activePrice">
                            <div class="card-title" [ngClass]="{'collapsed':!activePrice}">
                                <svg style="margin-right: 10px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                        <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                    </g>
                                </svg>
                                <span>Price Comparision</span>
                            </div>
                        </div>
                        <div class="collapse price-comparision" [ngClass]="{'show':activePrice}">
                            <div class="row">
                                <div class="col-sm-12 price-item">
                                    <label>Tariff</label>
                                    <editor [(object)]="priceDto" property="Tariff" [viewer]="true" [decorator]="{label: ''}"></editor>
                                    <label class="description">records</label>
                                    <a routerLink="/admin/tariff">View Details</a>
                                </div>
                                <div class="col-sm-12 price-item">
                                    <label>Fixed Price</label>
                                    <editor [(object)]="priceDto" property="FixedPrice" [viewer]="true" [decorator]="{label: ''}"></editor>
                                    <label class="description">records</label>
                                    <a routerLink="/admin/fixedprice">View Details</a>
                                </div>
                                <div class="col-sm-12 price-item">
                                    <label>Price Rule</label>
                                    <editor [(object)]="priceDto" property="PriceRule" [viewer]="true" [decorator]="{label: ''}"></editor>
                                    <label class="description">records</label>
                                    <a routerLink="/admin/pricerule">View Details</a>
                                </div>
                                <div class="col-sm-12 price-item">
                                    <label>Price Hike</label>
                                    <editor [(object)]="priceDto" property="PriceHike" [viewer]="true" [decorator]="{label: ''}"></editor>
                                    <label class="description">records</label>
                                    <a routerLink="/admin/pricehike">View Details</a>
                                </div>
                                <div class="col-sm-12 price-item">
                                    <label>Price</label>
                                    <editor [(object)]="priceDto" property="Price" [viewer]="true" [decorator]="{label: ''}"></editor>
                                    <label class="description">records</label>
                                    <a routerLink="/admin/price">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="row row-loading" *ngIf="loading">
                    <loading></loading>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="kt-content  kt-content--fit-top  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" *ngIf="auth.account?.IsAdmin">

    <!-- begin:: Content -->

    <!-- begin:: Hero -->
    <div class="kt-sc" style="background-image: url('assets/media/bg/bg-9.jpg')">
        <div class="kt-container ">
            <div class="kt-sc__bottom">
                <h3 class="kt-sc__heading kt-heading kt-heading--center kt-heading--xxl kt-heading--medium">
                    Xoera Partners
                </h3>
                <form class="kt-sc__form">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg> </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end:: Section -->

    <!-- end:: Content -->
</div>