::ng-deep .kt-input-icon .select2-selection__rendered {
  padding-left: 2.8rem !important;
}

::ng-deep .select2-selection__rendered {
  text-align: left;
}

::ng-deep .select2-selection__clear {
  font-size: 1.4rem;
  font-weight: normal !important;
}
