<div class="row" *ngIf="item">
    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 10px;">
                <editor [(object)]="item" property="Type" (valueChange)="typeChange()" [decorator]="{label: ''}"></editor>
            </div>
        </div>
        <div class="row panel" *ngIf="item.Type == SiteType.Commercial">
            <div class="col-sm-12">
                <h4>Client Details</h4>
            </div>
            <div class="col-sm-6">
                <editor [(object)]="item" property="BusinessName"></editor>
            </div>
            <div class="col-sm-6">
                <editor [(object)]="item" property="CompanyNumber"></editor>
            </div>
            <div class="col-sm-2">
                <editor [(object)]="item" property="ContactTitle"></editor>
            </div>
            <div class="col-sm-4">
                <editor [(object)]="item" property="ContactFirstName"></editor>
            </div>
            <div class="col-sm-6">
                <editor [(object)]="item" property="ContactSurname"></editor>
            </div>
        </div>
        <div class="row panel" *ngIf="item.Type == SiteType.Domestic">            
            <div class="col-sm-12">
                <h4>Client Details</h4>
            </div>
            <div class="col-sm-2">
                <editor [(object)]="item" property="ContactTitle" [decorator]="{label: 'Title'}"></editor>
            </div>
            <div class="col-sm-4">
                <editor [(object)]="item" property="ContactFirstName" [decorator]="{label: 'First Name'}"></editor>
            </div>
            <div class="col-sm-6">
                <editor [(object)]="item" property="ContactSurname" [decorator]="{label: 'Surname'}"></editor>
            </div>
            <div class="col-sm-6">
                <editor [(object)]="item" property="DateOfBirth"></editor>
            </div>
        </div>        
        <div class="row">
            <div class="col-sm-6">
                <editor [(object)]="item" property="ContactEmail"></editor>
            </div>
            <div class="col-sm-6">
                <editor [(object)]="item" property="ContactPhone"></editor>
            </div>
        </div>      
        <div class="row">
            <div class="col-sm-6">
                <editor [(object)]="item" property="Mprn"></editor>
            </div>
            <div class="col-sm-6">
                <editor [(object)]="item" property="MeterPointClass"></editor>
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-6">
                <editor [(object)]="item" property="RollingAQ"></editor>
            </div>
            <div class="col-sm-6">
                <editor [(object)]="item" property="ProposedSupplyStartDate" [decorator]="{ min: min, max: max }"></editor>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <editor [(object)]="item" property="BuildingName"></editor>
            </div>
            <div class="col-sm-6">
                <editor [(object)]="item" property="BuildingNumber"></editor>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <editor [(object)]="item" property="Street"></editor>
            </div>
            <div class="col-sm-6">
                <editor [(object)]="item" property="PostTown"></editor>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <editor [(object)]="item" property="PostCode"></editor>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <list-mprn (selectedChange)="selectedChange($event)"></list-mprn>
    </div>
</div>