<section wrapper class="doc_banner_area_one">
    <div class="container">
        <div class="doc_banner_text">
            <h2 class="wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <span class="title">Hello, what can we help you find?</span>
                <a class="btn btn-success" *ngIf="authen.account" routerLink="/admin">
                    <img src="./help-assets/images/home.png" />
                    <span>Admin</span>
                </a>
            </h2>
            <form action="#" class="banner_search_form">
                <div class="input-group" style="z-index: 9999;">
                    <input type="search" (keydown.enter)="search()" [(ngModel)]="data.keyword" class="form-control" placeholder="Press / key to focus search" [ngModelOptions]="{standalone: true}">
                    <button type="submit" (click)="search()"><i class="icon_search"></i></button>
                </div>
            </form>
        </div>
    </div>
</section>