$gray: #92959e;
$blue: #94c2ed;
$green: #86bb71;
$orange: #e38968;

.container-chat {
    right: 0;
    bottom: 0;
    width: 750px;
    height: 480px;
    display: flex;
    margin: 0 auto;
    z-index: 100000;
    position: fixed;
    font-size: small;
    transition: all 0.5s;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.12);
    &.hide {
        width: 0;
        box-shadow: none;
        .chat-close {
            padding: 0;
            width: 40px;
            left: -60px;
            bottom: 20px;
            height: 40px;
            color: #fff;
            border-radius: 100%;
            background: #444753;
        }
    }

    .chat {
        color: #434651;
        background: #f2f5f8;
        .chat-header {
            display: flex;
            padding: 10px;
            position: relative;
            align-items: center;
            border-bottom: 1px solid white;

            img {
                width: 40px;
            }

            .chat-about {
                padding-left: 10px;

                .chat-with {
                    font-weight: bold;
                    line-height: 2rem;
                }

                .chat-num-messages {
                    color: $gray;
                    line-height: 2rem;
                }
            }

            .fa-star {
                top: 10px;
                right: 20px;
                font-size: 16px;
                color: #d8dadf;
                margin-top: 12px;
                position: absolute;
            }
        }

        .chat-history {
            height: 275px;
            padding: 10px;
            overflow-y: auto;
            border-bottom: 1px solid white;

            .message-data {
                margin-bottom: 15px;
            }

            .message-data-time {
                padding-left: 6px;
                color: lighten($gray, 8%);
            }

            .message {
                width: 90%;
                color: white;
                line-height: 26px;
                padding: 18px 20px;
                border-radius: 7px;
                margin-bottom: 30px;
                position: relative;

                &:after {
                    width: 0;
                    left: 7%;
                    height: 0;
                    bottom: 100%;
                    content: " ";
                    border-width: 10px;
                    margin-left: -10px;
                    position: absolute;
                    pointer-events: none;
                    border: solid transparent;
                    border-bottom-color: $green;
                }
            }

            .my-message {
                background: $green;
            }

            .other-message {
                background: $blue;

                &:after {
                    left: 93%;
                    border-bottom-color: $blue;
                }
            }
        }

        .chat-message {
            padding: 10px;
            padding-bottom: 0;

            textarea {
                width: 100%;
                border: none;
                resize: none;
                height: 80px;
                outline: none;
                padding: 6px 12px;
                border-radius: 0.25rem;
                &:focus {
                    border: none !important;
                }
            }
        }

        .chat-actions {
            display: flex;
            padding: 0 10px;
            align-items: center;
            justify-content: space-between;

            .others {
                button {
                    width: 30px;
                    width: 30px;
                    border: none;
                    align-items: center;
                    border-radius: 100%;
                    display: inline-flex;
                    justify-content: center;
                    border: 1px solid transparent;
                    color: rgba($color: #000000, $alpha: 0.6);
                    &:hover {
                        color: rgba($color: #000000, $alpha: 1);
                    }
                }
            }

            button {
                cursor: pointer;
                text-transform: uppercase;
                .fa {
                    margin-right: 10px;
                }
            }
        }
    }

    .chat-close {
        bottom: 0;
        width: 30px;
        left: -30px;
        height: 60px;
        display: flex;
        cursor: pointer;
        color: #8a8f94;
        padding-left: 5px;
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: #f2f5f8;
        border-radius: 30px 0 0 30px;
        box-shadow: -4px 0px 4px 0 rgba(0, 0, 0, 0.22)
    }

    .people-list {
        min-width: 260px;
        background: #444753;
        .search {
            padding: 10px;
            position: relative;
            background: #444753;

            input {
                width: 100%;
                color: white;
                font-size: small;
                padding: 6px 12px;
                border-radius: 3px;
                background: #6a6c75;
                box-sizing: border-box;
                border: 1px solid transparent;
            }

            .fa-search {
                top: 22px;
                right: 20px;
                position: absolute;
                color: rgba($color: white, $alpha: 0.6);
            }
        }

        ul {
            padding: 0;
            overflow-y: auto;
            height: calc(100% - 66px);

            &::-webkit-scrollbar-thumb {
                background: #6a6c75;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #6a6c75;
            }

            li {
                display: flex;
                cursor: pointer;
                padding: 1rem 20px;
                align-items: center;
                &:hover {
                    background: #6a6c75;

                    .about {
                        .name {
                            color: rgba($color: white, $alpha: 0.8);
                        }
                    }
                }
                img {
                    width: 40px;
                    border-radius: 100%;
                }

                .about {
                    line-height: 2rem;
                    padding-left: 10px;
                    .name {
                        color: rgba($color: white, $alpha: 0.6);
                    }
                    .status {
                        color: $gray;
                        line-height: 2rem;
                    }
                }
            }
        }
    }
}

.online,
.offline,
.me {
    font-size: 10px;
    margin-right: 3px;
}

.me {
    color: $blue;
}

.online {
    color: $green;
}

.offline {
    color: $orange;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}
