<div class="kt-portlet kt-portlet-edit-form emailtemplateWrapper">
    <edit-header *ngIf="breadcrumbs && actions && actions.length > 0" [breadcrumbs]="breadcrumbs" [actions]="actions" [processing]="processing"></edit-header>
    <div class="kt-portlet__body card ">
        <div class="card-content">
            <div class="card-body" *ngIf="item && !loading">
                <h6 style="margin-top: -5px;">Validate Flows</h6>
                <div class="row">
                    <div class="col-sm-3">
                        <editor [(object)]="item" property="NodeId" [decorator]="{readonly: viewer}"></editor>
                    </div>
                    <div class="col-sm-3">
                        <editor [(object)]="item" property="Flow" [decorator]="{readonly: viewer}"></editor>
                    </div>
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-5">
                                <editor [(object)]="item" property="Type" [decorator]="{readonly: viewer}"></editor>
                            </div>
                            <div class="col-sm-7">
                                <editor [(object)]="item" property="FlowType" [decorator]="{readonly: viewer}"></editor>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <editor [(object)]="item" property="Direction" [decorator]="{readonly: viewer}"></editor>
                    </div>
                    <div class="col-sm-3">
                        <editor [(object)]="item" property="ParentNode" [decorator]="{readonly: viewer}"></editor>
                    </div>
                    <div class="col-sm-3">
                        <editor [(object)]="item" property="PositiveResponse" [decorator]="{readonly: viewer}"></editor>
                    </div>
                    <div class="col-sm-3">
                        <editor [(object)]="item" property="NegativeResponse" [decorator]="{readonly: viewer}"></editor>
                    </div>
                    <div class="col-sm-3">
                        <editor [(object)]="item" property="CancellationNode" [decorator]="{readonly: viewer}"></editor>
                    </div>
                    <div class="col-sm-3">
                        <editor [(object)]="item" property="RestrictedNode" [decorator]="{readonly: viewer}"></editor>
                    </div>
                    <div class="col-sm-3">
                        <editor [(object)]="item" property="AutoNextNode" [decorator]="{readonly: viewer}"></editor>
                    </div>
                    <div class="col-sm-3">
                        <editor [(object)]="item" property="Condition" [decorator]="{readonly: viewer}"></editor>
                    </div>
                    <div class="col-sm-3">
                        <editor [(object)]="item" property="MultipleAllowed" [decorator]="{readonly: viewer}"></editor>
                    </div>
                </div>
                <h6>Update Status/Mprn Status</h6>
                <div class="row">
                    <div class="col-sm-12">
                        <editor [(object)]="item" property="StatusItems" [decorator]="{readonly: viewer}"></editor>
                    </div>
                </div>
            </div>
            <div class="card-body" *ngIf="loading">
                <div class="row row-loading">
                    <loading></loading>
                </div>
            </div>
        </div>
    </div>
</div>