<div class="row" *ngIf="item">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4">
                <div class="d-flex justify-content-between">
                    <div style="width: 50%;">
                        <label>Tariff</label>
                        <editor [(object)]="item" property="TariffId" [decorator]="{label: ''}"></editor>
                    </div>
                    <div style="margin-left: 10px;width: 50%;">
                        <label>Vehicle Type</label>
                        <editor [(object)]="item" property="VehTypeId" [decorator]="{label: ''}"></editor>
                    </div>
                    <div *ngIf="authen.management" style="margin-left: 10px; width: 50%;">
                        <label>Account</label>
                        <editor [(object)]="item" property="AccountId" [decorator]="{label: ''}"></editor>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="d-flex">
                    <div>
                        <label>Drop</label>
                        <editor [(object)]="item" property="Drop" [decorator]="{label: ''}"></editor>
                    </div>
                    <div style="margin-left: 10px;">
                        <label>Return Price (%)</label>
                        <editor [(object)]="item" property="Return" [decorator]="{label: ''}"></editor>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="d-flex">
                    <div>
                        <label style="margin-bottom: 18px;">&nbsp;</label>
                        <editor [(object)]="item" property="IsActive"></editor>
                    </div>
                    <div style="margin-left: 10px;">
                        <label style="margin-bottom: 18px;">&nbsp;</label>
                        <editor [(object)]="item" property="ReverseDirection"></editor>
                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="text-align: right;">
                <label style="display: block;">&nbsp;</label>
                <button class="btn btn-success" (click)="updateGrid()">Update Grid</button>
            </div>
        </div>
        <div class="row" *ngIf="items && items.length > 0">
            <div class="col-sm-12">
                <list-import-fixed-price #fixedPriceComponent [params]="{ items: items }"></list-import-fixed-price>
            </div>
        </div>
    </div>
</div>