.content-header-right {
    text-align: right;
    .button-item {
        margin-left: 5px;
        i.la {
            margin-right: 10px;
        }
    }
}

.btn-group {
    border-radius: 0.25rem;
}