<div class="kt-input-icon kt-input-icon__icon--right" wrapper [ngClass]="{'kt-input-icon--left':decorator.icon}">
    <input class="form-control" [attr.maxLength]="decorator.max" [readonly]="decorator.readonly" [ngClass]="{'is-invalid':decorator.error}" [type]="type" [placeholder]="decorator.placeholder" [id]="decorator.id" [(ngModel)]="value" [ngModelOptions]="{standalone: true}" (input)="inputChange()">
    <span class="kt-input-icon__icon kt-input-icon__icon--left" *ngIf="decorator.icon">
        <span><i [ngClass]="decorator.icon"></i></span>
    </span>
    <span class="kt-input-icon__icon kt-input-icon__icon--right" *ngIf="value && !decorator.error" (click)="view()">
        <span><i class="la la-eye" [ngClass]="{'la-eye-slash': type == 'text'}"></i></span>
    </span>
</div>