<div class="card-content">
    <div class="card-body pt-0">
        <form class="form-horizontal">
            <fieldset class="form-group floating-label-form-group">
                <label for="user-name">Username</label>
                <editor [(object)]="item" property="UserName" [decorator]="{ label : ''}"></editor>
            </fieldset>
            <fieldset class="form-group floating-label-form-group mb-1">
                <label for="user-password">Password</label>
                <editor [(object)]="item" property="Password" [decorator]="{ label : ''}"></editor>
            </fieldset>
            <div class="form-group row">
                <div class="col-sm-6 col-12 text-center text-sm-left">
                    <editor [(object)]="item" property="RememberMe"></editor>
                </div>
                <div class="col-sm-6 col-12 float-sm-left text-center text-sm-right">
                    <a class="card-link" (click)="forgotPassword()">Forgot Password?</a>
                </div>
            </div>
            <div class="form-group">
                <editor-button label="Sign In" className="btn btn-outline-primary btn-block" [(process)]="processing" (click)="signin()"></editor-button>
            </div>
        </form>
    </div>
</div>