.nav-item {
  user-select: none;
  .dropdown_nav {
    max-height: 0;
    display: block;
    overflow: hidden;
    transition: all 0.3s;
    pointer-events: none;
  }
  &.active {
    .dropdown_nav {
      max-height: 500px;
      pointer-events: all;
    }
  }
}
