<aside class="doc_left_sidebarlist">
  <div class="open_icon" id="left">
    <i class="arrow_carrot-right"></i>
    <i class="arrow_carrot-left"></i>
  </div>
  <div class="scroll mCustomScrollbar _mCS_2">
    <div id="mCSB_2" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside">
      <div id="mCSB_2_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
        style="position:relative; top:0; left:0;">
        <div class="input-group" style="z-index: 9999;" style="display: none;">
          <input type="search" (keydown.enter)="search()" [(ngModel)]="data.keyword" class="form-control"
            placeholder="Press / key to focus search">
          <button type="submit" (click)="search()"><i class="icon_search"></i></button>
        </div>
        <ul class="list-unstyled nav-sidebar">
          <li class="nav-item">
            <a class="nav-link" routerLink="/helpcenter"><img src="./help-assets/images/home.png">Home</a>
          </li>
          <li class="nav-item" *ngFor="let item of data.menus" [ngClass]="{'active': item.active}">
            <a class="nav-link"><img src="./help-assets/images/briefcase.png">{{ item.title }}</a>
            <span class="icon"><i class="arrow_carrot-down" (click)="toggleActiveMenu(item)"></i></span>
            <ul class="list-unstyled dropdown_nav" *ngIf="items">
              <li *ngFor="let item of items">
                <a routerLink="/helpcenter/question" [queryParams]="{category: item.slug}">{{ item.type }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>