<div class="kt-portlet kt-portlet-edit-form emailtemplateWrapper">
    <edit-header *ngIf="breadcrumbs && actions && actions.length > 0" [breadcrumbs]="breadcrumbs" [actions]="actions" [processing]="processing"></edit-header>
    <div class="kt-portlet__body card ">
        <div class="card-content">
            <div class="card-body">
                <div class="row" *ngIf="item && !loading">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <editor [(object)]="item" property="Type" [decorator]="{readonly: viewer}"></editor>
                            </div>
                            <div class="col-sm-4">
                                <editor [(object)]="item" property="Name" [decorator]="{readonly: viewer}"></editor>
                            </div>
                            <div class="col-sm-4">
                                <editor [(object)]="item" property="EmailSubject" [decorator]="{readonly: viewer}"></editor>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" (click)="selectedTab('templateHtml')" [ngClass]="{'active':!tab || tab == 'templateHtml'}">Template Html</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" [ngClass]="{'active':tab == 'templateHtml'}">
                                <editor [(object)]="item" property="TemplateHtml" [decorator]="{readonly: viewer, label: ''}"></editor>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-loading" *ngIf="loading">
                    <loading></loading>
                </div>
            </div>
        </div>
    </div>
</div>