#wrapper {
    overflow: auto;
    margin-top: 20px;
    height: calc(100vh - 150px);
    .header {
        display: flex;
        align-items: center;
        .btn {
            margin-right: 20px;
        }
        div {
            display: flex;
            align-items: center;
            label {
                margin: 0;
                padding: 0;
                color: green;
                font-size: 18px;
                margin-right: 10px;
            }
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                list-style: none;
                align-items: center;
                justify-content: flex-start;
                li {
                    font-size: 18px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.svg.appear {
    display: flex;
    height: 1660px;
    align-items: center;
    opacity: 1 !important;
    justify-content: center;
    svg {
        max-width: 1500px;
    }
    .rectangle {
        * {
            cursor: pointer;
        }
    }
}
