<div class="kt-portlet kt-portlet-edit-form">
    <edit-header *ngIf="breadcrumbs && actions && actions.length > 0" [breadcrumbs]="breadcrumbs" [actions]="actions" [processing]="processing"></edit-header>
    <div class="kt-portlet__body card ">
        <div class="card-content">
            <div class="card-body">
                <div class="row" *ngIf="item && !loading">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <editor *ngIf="authen.management" [(object)]="item" property="AccountId" [decorator]="{readonly: viewer}" (valueChange)="accountChange()"></editor>
                                <editor [(object)]="item" property="Code" [decorator]="{readonly: viewer}"></editor>
                                <editor [(object)]="item" property="IssueDate" [decorator]="{readonly: viewer}"></editor>
                            </div>
                            <div class="col-sm-12">
                                <editor [(object)]="item" property="Address" [decorator]="{readonly: viewer}"></editor>
                                <editor [(object)]="item" property="PostCode" [decorator]="{readonly: viewer}"></editor>
                                <editor [(object)]="item" property="PaymentType" [decorator]="{readonly: viewer}"></editor>
                                <editor [(object)]="item" property="DueDate" [decorator]="{readonly: viewer}"></editor>
                            </div>
                            <div class="col-sm-12">
                                <list-dispatch-invoice-detail [params]="{id: }"></list-dispatch-invoice-detail>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-loading" *ngIf="loading">
                    <loading></loading>
                </div>
            </div>
        </div>
    </div>
</div>