.row-loading {
    min-height: 50vh;
}

.nav {
    overflow-x: auto;
    flex-wrap: nowrap;
    overflow-y: hidden;
    .nav-link {
        white-space: nowrap;
    }
}

.tab-content {    
    border: none;
    padding: 0 !important;
    .tab-pane {
        padding-top: 10px !important;
    }
}