<div wrapper class="entry" [ngClass]="className">
    <div class="label">
        {{ item.Type }}
        <div class="detail" *ngIf="obj && properties">
            <ul>
                <li *ngFor="let item of properties">
                    <label [title]="item.label" >{{ item.label }}</label>
                    <span [title]="obj[item.property]">{{ obj[item.property] }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="branch" *ngIf="item.Childs">
        <hubfile-tree-child *ngFor="let child of item.Childs" [item]="child" [className]="!item.Childs || item.Childs.length == 1 ? 'sole' : ''"></hubfile-tree-child>
    </div>
</div>