<div class="row" *ngIf="item">
    <div class="col-sm-12">
        <editor [(object)]="item" property="Type"></editor>
    </div>
    <div class="col-sm-12">
        <h4>Info</h4>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="Mprn" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="EffectiveFromDate"></editor>
    </div>
    <div class="col-sm-12">
        <h4>Asset Details</h4>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="AssetClassCode"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="PaymentMethodCode" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="ModelCode" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="ManufacturerCode" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="YearOfManufacture" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="SerialNumber" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="AssetStatusCode" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="LocationCode" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="AssetLocationNotes" [decorator]="{readonly: true}"></editor>
    </div>
    <div class="col-sm-12">
        <h4>Meter Details</h4>
    </div>
    <div class="col-sm-3">
        <editor [(object)]="item" property="MeterTypeCode" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-3">
        <editor [(object)]="item" property="MeterMechanismCode" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-3">
        <editor [(object)]="item" property="MeasuringCapacity" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-3">
        <editor [(object)]="item" property="RoleCode" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-12">
        <h4>Register Details</h4>
    </div>
    <div class="col-sm-3">
        <editor [(object)]="item" property="RegisterTypeCode"></editor>
    </div>
    <div class="col-sm-3">
        <editor [(object)]="item" property="NoOfDigits" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-3">
        <editor [(object)]="item" property="UnitsofMeasure" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-3">
        <editor [(object)]="item" property="MultiplicationFactor" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-12">
        <h4>Reading Details</h4>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="ReadingDate" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="RoundTheClock" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="ReadingIndex" [decorator]="{ readonly: true }"></editor>
    </div>
    <div class="col-sm-12 error" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
</div>